<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buổi 7</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <!-- phạm vi của biến trong function chỉ được sử dụng trong controller của nó  -->
    <!-- phạm vi biến của cha có thể kế thừa sang con -->
    <!-- Sử dụng $rootScope để khai báo biến có phạm vi toàn cục -->
    <div ng-controller="parent" style="background-color: red;">
        <h1>{{textGlobal}}</h1>
        <h1>{{textParent}}</h1>
        <!-- textChild không thể truy cập được từ controller con -->
        <h1>{{textChild}}</h1>

        <div ng-controller="child" style="background-color: greenyellow;">
            <!-- textParent có thể truy cập được từ controller cha -->
            <h1>{{textParent}}</h1>
            <h1>{{textChild}}</h1>
        </div>

    </div>

    <div ng-controller="myControler">
        <h2>Họ và tên: {{data.name}}</h2>
        <h2>Giới tính:
            <span ng-show="data.gender">Nam</span>
            <span ng-hide="data.gender">Nữ</span>
        </h2>
        <h2>Học lực:
            <span ng-if="data.mark >= 8">Giỏi</span>
            <span 
                ng-if="data.mark < 8 && data.mark >= 5" >
            Trung bình
            </span>
            <span ng-if="data.mark < 5">Yếu</span>
        </h2>
        <h2>Khoa:
            <span ng-switch="data.khoa">
                <span ng-switch-when="UDPM">Ứng dụng phần mềm</span>
                <span ng-switch-when="TKW">Thiết kế web</span>
                <span ng-switch-default>IT</span>
            </span>
        </h2>
        <h2>Sở thích:
            <ul ng-repeat="item in data.hobbies">
                <li>{{item}}</li>
            </ul>
        </h2>
    </div>

    <script src="./main.js"></script>
</body>
</html>